


.attendance-container {
    margin: 20px;
  }
  

  .attendance-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
  }
  
  
  .attendance-heading {
    text-align: center;
    color: #333;
  }
  
  
  .attendance-label {
    font-weight: bold;
    margin-bottom: 8px;
  }

  .attendance-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  
  .attendance-button {
    background-color: #065e46;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .attendance-button:hover {
    background-color: #026f62;
  }
  
 
  
  .attendance-toast--success {
    background-color: #4caf50;
  }
  
  .attendance-toast--error {
    background-color: #f44336;
  }
  
  
  @media screen and (max-width: 600px) {
    .attendance-form {
      width: 90%;
    }
  
    .attendance-input {
      width: 100%;
    }
  }
  