/* MainFooter.css */

.main-footer {
  background-color: #e6e0db;
  color: rgb(0, 0, 0);
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-info, .copyright {
  flex: 1;
  margin-bottom: 10px; 
}


@media only screen and (max-width:768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .contact-info, .copyright {
    flex: none;
    width: 100%;
  }
}
